In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
from IPython import get_ipython
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import math

### Leer los datos cardiacos de los pacientes

In [2]:
df=pd.read_csv('cardio_base.csv', encoding='latin-1')

### Mostrar información sobre los datos

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   smoke        70000 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 4.8 MB

In [4]:
df.head()

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  18393       2     168    62.0    110     80            1      0
1   1  20228       1     156    85.0    140     90            3      0
2   2  18857       1     165    64.0    130     70            3      0
3   3  17623       2     169    82.0    150    100            1      0
4   4  17474       1     156    56.0    100     60            1      0

#### Convertir la edad de dias a años

In [5]:
def dias_a_anios_redondeado(dias):
    return math.floor(dias / 365.25)
df['Edad_en_anios'] = df['age'].apply(dias_a_anios_redondeado)

# Mostrar el DataFrame resultante
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke,Edad_en_anios
0,0,18393,2,168,62.0,110,80,1,0,50
1,1,20228,1,156,85.0,140,90,3,0,55
2,2,18857,1,165,64.0,130,70,3,0,51
3,3,17623,2,169,82.0,150,100,1,0,48
4,4,17474,1,156,56.0,100,60,1,0,47

#### Diferencia de edad entre los dos grupos de personas

In [36]:
suma_edades_anios_grupo_1 = df[df['gender'] == 1]['Edad_en_anios'].sum()
suma_edades_anios_grupo_2 = df[df['gender'] == 2]['Edad_en_anios'].sum()

# Calcular la diferencia entre las sumas de las edades de los grupos
suma_total_edades_anios = suma_edades_anios_grupo_1 + suma_edades_anios_grupo_2

# Calcular la diferencia porcentual entre las sumas de edades de los grupos
diferencia_porcentaje = abs(suma_edades_anios_grupo_1 - suma_edades_anios_grupo_2) / suma_total_edades_anios * 100

print("Diferencia en suma de edades en años entre los grupos (en porcentaje):", diferencia_porcentaje)

Diferencia en suma de edades en años entre los grupos (en porcentaje): 30.363711329495906

#### Comparación del grupo de personas mayores a 50 años y menores, en relación al colesterol

In [11]:
promedio_colesterol_mas_50 = df[df['Edad_en_anios'] > 50]['cholesterol'].mean()

# Calcular el promedio de colesterol para personas de 50 años o menos
promedio_colesterol_menos_igual_50 = df[df['Edad_en_anios'] <= 50]['cholesterol'].mean()

# Calcular el porcentaje de cambio en el promedio de colesterol
porcentaje_cambio = ((promedio_colesterol_mas_50 - promedio_colesterol_menos_igual_50) / promedio_colesterol_menos_igual_50) * 100

# Imprimir el porcentaje de cambio
print("Porcentaje de cambio en el promedio de colesterol entre personas de más de 50 años y personas de 50 años o menos:", porcentaje_cambio)

# Comparar los promedios y dar una conclusión
if porcentaje_cambio > 0:
    print("Las personas de más de 50 años tienden a tener un promedio de colesterol más alto en un", abs(porcentaje_cambio), "% en comparación con las personas de 50 años o menos.")
elif porcentaje_cambio < 0:
    print("Las personas de más de 50 años tienden a tener un promedio de colesterol más bajo en un", abs(porcentaje_cambio), "% en comparación con las personas de 50 años o menos.")
else:
    print("No hay diferencia significativa en el promedio de colesterol entre personas de más de 50 años y personas de 50 años o menos.")

Porcentaje de cambio en el promedio de colesterol entre personas de más de 50 años y personas de 50 años o menos: 14.677217267137497
Las personas de más de 50 años tienden a tener un promedio de colesterol más alto en un 14.677217267137497 % en comparación con las personas de 50 años o menos.

#### Porcentaje de fumadores por grupo

In [40]:
proporcion_fumadores_grupo_1 = (df[df['gender'] == 1]['smoke'].mean() * 100)
proporcion_fumadores_grupo_2 = (df[df['gender'] == 2]['smoke'].mean() * 100)

# Imprimir los resultados
print("Porcentaje de fumadores en el grupo 1:", proporcion_fumadores_grupo_1, "%")
print("Porcentaje de fumadores en el grupo 2:", proporcion_fumadores_grupo_2, "%")

# Comparar los porcentajes y dar una conclusión
if proporcion_fumadores_grupo_1 > proporcion_fumadores_grupo_2:
    veces_mas_fuma = proporcion_fumadores_grupo_1 / proporcion_fumadores_grupo_2
    print("El grupo 1 fuma aproximadamente", veces_mas_fuma, "veces más que el grupo 2.")
elif proporcion_fumadores_grupo_1 < proporcion_fumadores_grupo_2:
    veces_mas_fuma = proporcion_fumadores_grupo_2 / proporcion_fumadores_grupo_1
    print("El grupo 2 fuma aproximadamente", veces_mas_fuma, "veces más que el grupo 1.")
else:
    print("Ambos grupos fuman igualmente.")

# Imprimir las proporciones de fumadores en cada grupo
print("Proporción de fumadores en el grupo 1:", proporcion_fumadores_grupo_1)
print("Proporción de fumadores en el grupo 2:", proporcion_fumadores_grupo_2)

Porcentaje de fumadores en el grupo 1: 1.7856358444981333 %
Porcentaje de fumadores en el grupo 2: 21.88802615447487 %
El grupo 2 fuma aproximadamente 12.257833097333833 veces más que el grupo 1.
Proporción de fumadores en el grupo 1: 1.7856358444981333
Proporción de fumadores en el grupo 2: 21.88802615447487

#### Altura del 1% más alto del grupo de personas

In [42]:
df_sorted = df.sort_values(by='weight', ascending=False)

# Calcular el índice que representa el 1% inferior de las personas
indice_1_por_ciento = int(len(df_sorted) * 0.01)

# Obtener la altura correspondiente al 1% inferior de las personas (1% más alto)
altura_1_por_ciento = df_sorted.iloc[indice_1_por_ciento - 1]['weight']

print("La altura del 1% más alto de las personas es:", altura_1_por_ciento)

La altura del 1% más alto de las personas es: 117.0

In [44]:
df_sorted = df.sort_values(by='weight', ascending=False)

# Calcular el número de personas que representa el 1% superior
num_personas_1_por_ciento = int(len(df_sorted) * 0.01)

# Obtener las alturas del 1% superior de las personas
alturas_1_por_ciento_superior = df_sorted.head(num_personas_1_por_ciento)['weight']

# Calcular el promedio de las alturas del 1% superior
promedio_alturas_1_por_ciento = alturas_1_por_ciento_superior.mean()

print("El promedio de altura del 1% superior de las personas es:", promedio_alturas_1_por_ciento)

El promedio de altura del 1% superior de las personas es: 129.773

#### Cálculo de las correlación entre pares de variables

In [60]:
df = df.drop(columns=['age'])

spearman_corr = df.corr(method='spearman')

# Quitar las correlaciones de cada variable consigo misma
spearman_corr = spearman_corr.mask(np.tril(np.ones_like(spearman_corr, dtype=bool)))

# Encontrar el par de variables con la correlación más alta
max_corr_pair = spearman_corr.abs().stack().idxmax()

print("El par de variables con la correlación más alta es:", max_corr_pair)
print("La correlación de rango de Spearman entre estas variables es:", spearman_corr.abs().loc[max_corr_pair])

El par de variables con la correlación más alta es: ('ap_hi', 'ap_lo')
La correlación de rango de Spearman entre estas variables es: 0.7354361051379777

In [61]:
print(spearman_corr)

               id    gender    height    weight     ap_hi     ap_lo  \
id            NaN  0.003506 -0.001886 -0.001292  0.003258 -0.000238
gender        NaN       NaN  0.533805  0.172480  0.063174  0.066374
height        NaN       NaN       NaN  0.313569  0.019381  0.030534
weight        NaN       NaN       NaN       NaN  0.277749  0.254420
ap_hi         NaN       NaN       NaN       NaN       NaN  0.735436
ap_lo         NaN       NaN       NaN       NaN       NaN       NaN
cholesterol   NaN       NaN       NaN       NaN       NaN       NaN
smoke         NaN       NaN       NaN       NaN       NaN       NaN
Edad_en_anios NaN       NaN       NaN       NaN       NaN       NaN

               cholesterol     smoke  Edad_en_anios
id                0.005706 -0.003697       0.003006
gender           -0.035730  0.338135      -0.020529
height           -0.058940  0.197632      -0.083399
weight            0.137908  0.071676       0.062961
ap_hi             0.208722  0.028929       0.220327
ap_lo             0.167401  0.026172       0.157721
cholesterol            NaN  0.015220       0.141547
smoke                  NaN       NaN      -0.047191
Edad_en_anios          NaN       NaN            NaN

#### Porcentaje de personas que estan a más de 2 desviaciones estandar por encima de la altura promedio

In [70]:
promedio_altura = df['Edad_en_anios'].mean()

# Calcular la desviación estándar de la altura
desviacion_estandar_altura = df['Edad_en_anios'].std()

# Calcular dos veces la desviación estándar por encima y por debajo del promedio de altura
limite_superior = promedio_altura + 2 * desviacion_estandar_altura
limite_inferior = promedio_altura - 2 * desviacion_estandar_altura

# Contar el número de personas cuya altura está por encima o por debajo de estos límites
personas_por_encima_del_limite = df[df['Edad_en_anios'] > limite_superior].shape[0]
personas_por_debajo_del_limite = df[df['Edad_en_anios'] < limite_inferior].shape[0]

# Calcular el porcentaje de personas en relación con el total
porcentaje_personas_por_encima_del_limite = (personas_por_encima_del_limite / df.shape[0]) * 100
porcentaje_personas_por_debajo_del_limite = (personas_por_debajo_del_limite / df.shape[0]) * 100

# Sumar los porcentajes para obtener el total de personas a más de 2 desviaciones estándar de la altura promedio
total_porcentaje = porcentaje_personas_por_encima_del_limite + porcentaje_personas_por_debajo_del_limite

print("El porcentaje de personas que están a más de 2 desviaciones estándar de la altura promedio es:", total_porcentaje)

El porcentaje de personas que están a más de 2 desviaciones estándar de la altura promedio es: 2.6914285714285713

#### Leer datos sobre los pacientes en relación al consumo de alcohol

In [93]:
df1=pd.read_csv('cardio_alco.csv',sep=';')
num_columnas = df1.shape[1]
print("El número de columnas del DataFrame es:", num_columnas)

El número de columnas del DataFrame es: 2

#### Porcentaje de personas mayores a 50 años que consumen alcohol

In [98]:
df_combined = pd.merge(df, df1, on='id', how='inner')
df_combined.head()
# Filtrar los datos combinados para eliminar aquellos sin información sobre el consumo de alcohol
#df_filtered = df_combined[df_combined['id;alco'].notnull()]

mayores_de_50 = df_combined[df_combined['Edad_en_anios'] > 50]

# Calcular el porcentaje de personas mayores de 50 años que consumen alcohol
porcentaje_consumo_alcohol_mayores_de_50 = (mayores_de_50['alco'].notnull().sum() / len(mayores_de_50)) * 100

print("El porcentaje de personas mayores de 50 años que consumen alcohol es:", porcentaje_consumo_alcohol_mayores_de_50)
# Mostrar el DataFrame resultante
#print(df_filtered)

El porcentaje de personas mayores de 50 años que consumen alcohol es: 100.0

#### Etiquetar a las personas por genero

In [100]:
hombres = df[df['gender'] == 2]
mujeres = df[df['gender'] == 1]
fumadores = df[df['smoke'] == 1]
no_fumadores = df[df['smoke'] == 0]

hombres.head()

,id,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke,Edad_en_anios
0,0,2,168,62.0,110,80,1,0,50
3,3,2,169,82.0,150,100,1,0,48
7,12,2,178,95.0,130,90,3,0,61
11,16,2,173,60.0,120,80,1,0,51
12,18,2,165,60.0,120,80,1,0,40

#### Análisis sobre cada grupo de personas, presión arterial y colesterol

In [104]:
hombres = df[df['gender'] == 2]
mujeres = df[df['gender'] == 1]
fumadores = df[df['smoke'] == 1]
no_fumadores = df[df['smoke'] == 0]

# Calcular las métricas relevantes para cada grupo
media_presion_hombres = hombres['ap_lo'].mean()
media_presion_mujeres = mujeres['ap_lo'].mean()
media_presion_fumadores = fumadores['ap_lo'].mean()
media_presion_no_fumadores = no_fumadores['ap_lo'].mean()
media_peso_fumadores = fumadores['weight'].mean()
media_peso_no_fumadores = no_fumadores['weight'].mean()

# Comparar las métricas para determinar si hay diferencias significativas
if media_presion_hombres > media_presion_mujeres:
    print("Los hombres tienen una presión arterial media mayor que las mujeres.")
elif media_presion_hombres < media_presion_mujeres:
    print("Las mujeres tienen una presión arterial media mayor que los hombres.")
else:
    print("Los hombres y las mujeres tienen una presión arterial media similar.")

if media_presion_fumadores > media_presion_no_fumadores:
    print("Los fumadores tienen una presión arterial media mayor que los no fumadores.")
elif media_presion_fumadores < media_presion_no_fumadores:
    print("Los no fumadores tienen una presión arterial media mayor que los fumadores.")
else:
    print("Los fumadores y los no fumadores tienen una presión arterial media similar.")

if media_peso_fumadores < media_peso_no_fumadores:
    print("Los fumadores tienen un peso medio menor que los no fumadores.")
elif media_peso_fumadores > media_peso_no_fumadores:
    print("Los no fumadores tienen un peso medio menor que los fumadores.")
else:
    print("Los fumadores y los no fumadores tienen un peso medio similar.")

Los hombres tienen una presión arterial media mayor que las mujeres.
Los fumadores tienen una presión arterial media mayor que los no fumadores.
Los no fumadores tienen un peso medio menor que los fumadores.

In [105]:
fumadores = df[df['smoke'] == 1]
no_fumadores = df[df['smoke'] == 0]

# Calcular la media del colesterol para cada grupo
media_colesterol_fumadores = fumadores['cholesterol'].mean()
media_colesterol_no_fumadores = no_fumadores['cholesterol'].mean()

# Comparar las medias para determinar si hay una diferencia significativa
if media_colesterol_fumadores > media_colesterol_no_fumadores:
    print("Los fumadores tienen un nivel de colesterol mayor que los no fumadores.")
elif media_colesterol_fumadores < media_colesterol_no_fumadores:
    print("Los fumadores tienen un nivel de colesterol menor que los no fumadores.")
else:
    print("Los fumadores y los no fumadores tienen niveles de colesterol similares.")

Los fumadores tienen un nivel de colesterol mayor que los no fumadores.